@model SimplifiedMortgageRefi.ViewModels.IndexCustomerViewModel   

@{
    ViewData["Title"] = "EditLiabilities";
    Layout = "~/Views/Shared/_CustomerDashboard.cshtml";
}

<h1>Edit My Debts</h1>

<h4>Liability</h4>
<hr />
<div class="row mr-4">
    <div class="col-md-4">
        <form asp-action="EditLiabilities">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Application.Id" />
            <div class="form-group">
                <label asp-for="Liability.LenderName" class="control-label"></label>
                <input asp-for="Liability.LenderName" class="form-control" />
                <span asp-validation-for="Liability.LenderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Liability.Balance" class="control-label"></label>
                <input asp-for="Liability.Balance" class="form-control" />
                <span asp-validation-for="Liability.Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Liability.Payment" class="control-label"></label>
                <input asp-for="Liability.Payment" class="form-control" />
                <span asp-validation-for="Liability.Payment" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Liability.IsConsolidated" /> @Html.DisplayNameFor(model => model.Liability.IsConsolidated)
                </label>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to My Dashboard</a>
</div>

