@model SimplifiedMortgageRefi.Models.Customer

@{
    Layout = "_CustomerDashboard";
    ViewData["Title"] = "CreateCurrentMortgage";
}

@*<body>*@
<!-- Topbar -->
<!----////////////////////// -->
<!-- End of Topbar -->
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        @*<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>*@
    </div>

    <!-- Content Row -->
    <div class="row">

    <!-- Content Row -->
    <div class="row">
        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Total Current Mortgage Costs: </h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#piechart" role="button" id="dropdownMenuLink" data-toggle="collapse" aria-haspopup="true" aria-expanded="true">
                            <i class="fas fa-angle-double-up text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="collapse" id="piechart">
                    <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="labelChart"></canvas>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Current Mortgage Details</h6>
                </div>
                <div class="p-3">


                    <form class="user" asp-action="EditCurrentMortgage">

                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Original Balance $</label>
                                <div class="col-sm-7">
                                    <input type="text" name="OriginalMortgageBalance" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Rate</label>
                                <div class="col-sm-7">
                                    <input type="text" name="Rate" class="form-control" placeholder="for example, 4.12">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Term (years)</label>
                                <div class="col-sm-7">
                                    <input type="text" name="Term" class="form-control" placeholder="e.g. 30">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Start Date</label>
                                <div class="col-sm-7">
                                    <input type="date" name="OriginationDate" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Taxes (monthly)</label>
                                <div class="col-sm-7">
                                    <input type="text" name="MonthlyPropertyTax" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Ins (monthly)</label>
                                <div class="col-sm-7">
                                    <input type="text" name="MonthlyHOIPremium" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row p-3">
                            <input type="submit" value="Save" class="btn btn-primary btn-block" />
                        </div>

                    </form>

                </div>
            </div>
        </div>
       
    </div>

</div>



<script src="~/theme/vendor/chart.js/Chart.min.js"></script>
<script src="~/theme/js/demo/chartjs-datalabels.js"></script>
<script type="text/javascript">
    alert("Welcome to your dashboard!" + "\n" + "This is where you can fill in your current and new mortgage information so that you can make easy comparisons by visualizing the data." + "\n"
        + "Give it a whirl!")
    var ctxP = document.getElementById("labelChart").getContext('2d');
    var myPieChart = new Chart(ctxP, {
        plugins: [ChartDataLabels],
        type: 'pie',
        data: {
            labels: ["Principal", "Interest", "Taxes", "Insurance"],
            datasets: [{
                data: ["Your info will display here"],
                backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1"],
                hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5"]
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'right',
                labels: {
                    padding: 20,
                    boxWidth: 10
                }
            },
            plugins: {
                datalabels: {
                    formatter: (value, ctx) => {
                        let sum = 0;
                        let dataArr = ctx.chart.data.datasets[0].data;
                        dataArr.map(data => {
                            sum += data;
                        });
                        let percentage = value;
                        return percentage;
                    },
                    color: 'white',
                    labels: {
                        title: {
                            font: {
                                size: '16'
                            }
                        }
                    }
                }
            }
        }
    });

</script>

