@model SimplifiedMortgageRefi.ViewModels.IndexCustomerViewModel

@if (Model.LoanProfiles.First().Id == Model.LoanProfiles.Last().Id)
{
    <div class="col-xl-4 col-lg-4">
        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-success">Refinance Option 2 Details</h6>
            </div>
            <div class="p-3">
                <form class="user" asp-action="CreateLoanProfile">
                    <input type="hidden" asp-for="Application.Id" />
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">New Loan Amount</label>
                            <div class="col-sm-7">
                                <input type="text" name="LoanAmount" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Rate</label>
                            <div class="col-sm-7">
                                <input type="text" name="Rate" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Term (years)</label>
                            <div class="col-sm-7">
                                <input type="text" name="Term" class="form-control" placeholder="e.g. 30">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Closing Costs</label>
                            <div class="col-sm-7">
                                <input type="text" name="ClosingCost" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row p-3">
                        <input type="submit" value="Save" class="btn btn-primary btn-block" />
                    </div>
                </form>

            </div>
        </div>
    </div>
}
else
{

    <div class="col-xl-4 col-lg-4">
        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-success">Refinance Option 2 Details</h6>
            </div>
            <div class="p-3">
                <input type="hidden" asp-for="LoanProfiles.Last().Id" />
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">New Loan Amount</label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(Model => Model.LoanProfiles.Last().LoanAmount)
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Rate</label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(Model => Model.LoanProfiles.Last().Rate)
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Term (years)</label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(Model => Model.LoanProfiles.Last().Term)
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Closing Costs</label>
                        <div class="col-sm-7">
                            @Html.DisplayFor(Model => Model.LoanProfiles.Last().ClosingCost)
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Total Loan Cost</label>
                        <div class="col-sm-7">
                            <span class="output" id="totalpayment2"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Total Interest</label>
                        <div class="col-sm-7">
                            <span class="output" id="totalinterest2"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-5 col-form-label">Monthly Payment (Principal & Interest)</label>
                        <div class="col-sm-7">
                            <span class="output" id="monthlypayment2"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row p-3">
                    <input type="submit" value="Edit" class="btn btn-primary btn-block" />
                </div>

            </div>
        </div>
    </div>
}


