@model SimplifiedMortgageRefi.ViewModels.ContactCustomerViewModel
<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        @{
                            int id = Model.Customer.Id;
                            if (Model.Customer.MonthlyIncome == 0)
                            {
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Enter Your Monthly Income Here</div>
                                <form asp-action="EditIncome">
                                    <div class="input-group user">
                                        <i class="input-group-addon glyphicon glyphicon-usd" style="float:left"></i>
                                        <div style="overflow: hidden; padding-left: .5em; padding-right: .5em;">
                                            <input asp-for="Customer.MonthlyIncome" class="form-control form-control-user" style="width:100%" placeholder="Monthly Income" />
                                        </div>
                                        <input type="submit" value="Save" class="btn btn-primary" style="float: right" />
                                    </div>
                                    <input type="hidden" asp-for="@id" />
                                </form>

                            }
                            else
                            {
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Income (Monthly)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="monthlyIncome">
                                </div>
                            };
                        }

                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Income (Annual)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="annualIncome"></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Estimated Property Value</div>
                        @{

                            if (Model.Application.Property.AssessedValue == 0)
                            {
                                <form asp-action="EditPropertyValue">
                                    <div class="input-group user">
                                        <i class="input-group-addon glyphicon glyphicon-usd" style="float:left"></i>
                                        <div style="overflow: hidden; padding-left: .5em; padding-right: .5em;">
                                            <input asp-for="Application.Property.AssessedValue" class="form-control form-control-user" style="width:100%" />
                                        </div>
                                        <input type="submit" value="Save" class="btn btn-primary" style="float: right" />
                                    </div>
                                    <input type="hidden" asp-for="@id" />
                                </form>

                            }
                            else
                            {
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="estimatedValue">
                                </div>
                            };
                        }

                    </div>
                    <div class="col-auto">
                        <i class="fas fa-home fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Credit Score</div>

                        @{
                            if (Model.Customer.CreditScore == 0)
                            {
                                <form asp-action="EditCreditScore">
                                    <div class="input-group user">
                                        <i class="input-group-addon glyphicon glyphicon-usd" style="float:left"></i>
                                        <div style="overflow: hidden; padding-right: .5em;">
                                            <select asp-for="Customer.CreditScore" class="form-control form-control-user" style="width:100%">
                                                <option selected="selected" value="0">Choose a FICO score range</option>
                                                <option value="740">Excellent (740 and above)</option>
                                                <option value="700">Very Good (700-739)</option>
                                                <option value="660">Good (660-699)</option>
                                                <option value="620">Fair (620-659)</option>
                                                <option value="619">Other (619 and below)</option>
                                            </select>
                                        </div>
                                        <input type="submit" value="Save" class="btn btn-primary" style="float: right" />
                                    </div>
                                    <input type="hidden" asp-for="@id" />
                                </form>
                            }
                            else
                            {
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Customer.CreditScore </div>
                            }
                        }
                    </div>

                    <div class="col-auto">
                        <i class="fas fa-weight fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
